$smoke-white: #f5f5f6;
$gray-one: #4f5051;
$gray-two: #d7d7d8;
$gray-three: #aeaeaf;
$gray-four: #ebebec;
$gray-five: #343537;
$gray-six: #c6c7ca;
$theme-success: #0ac391;

//Box Shadow Variables
$sub-header-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.37);
$card-login-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.18);
//Font
//
//Font family and font path
$font-family-url: '../fonts/';
$font-icon-url: '../fonts/';
$font-brand: 'segoeui'; //-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;

$base-spacing: 1rem !default;

//Custom Line height
$line-height-one: 1;
$line-height-one-and-half: 1.5;

//icons
$icon-font-path: '../../fonts/icon-fonts';

//Rounded
$enable-rounded: false !default;
$font-family-sans-serif: 'poppinsregular';
$font-family-base: $font-family-sans-serif;

$font-weight-bold-family: 'poppinsbold';
$font-weight-semi-bold-family: 'poppins_semiboldregular';
$font-weight-medium-family: 'poppins_mediumregular';
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1266px
) !default;

// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-columns: 24 !default;
$grid-gutter-width: 30px !default;

// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

//
// Color system
//

// stylelint-disable
$white: #fff !default;
$gray-100: $smoke-white !default; //#f8f9fa !default;
$gray-200: $gray-four;
$gray-300: $gray-two;
$gray-400: #ced4da !default;
$gray-500: $gray-three;
$gray-600: #6c757d !default;
$gray-700: $gray-one;
$gray-800: #58585b;
$gray-900: $gray-five;
$black: #000 !default;

$grays: () !default;
$grays: map-merge(
  (
    '100': $gray-100,
    '200': $gray-200,
    '300': $gray-300,
    '400': $gray-400,
    '500': $gray-500,
    '600': $gray-600,
    '700': $gray-700,
    '800': $gray-800,
    '900': $gray-900
  ),
  $grays
);

$blue: #007bff !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #d30000;
$orange: #f15c27 !default;
$yellow: #eb9100 !default;
$green: #28a745 !default;
$teal: #20c997 !default;
$cyan: #17a2b8 !default;

$colors: () !default;
$colors: map-merge(
  (
    'blue': $blue,
    'indigo': $indigo,
    'purple': $purple,
    'pink': $pink,
    'red': $red,
    'orange': $orange,
    'yellow': $yellow,
    'green': $green,
    'teal': $teal,
    'cyan': $cyan,
    'white': $white,
    'gray': $gray-600,
    'gray-dark': $gray-800
  ),
  $colors
);

$primary: #403460 !default; //#403460;//$blue !default;
$secondary: #707070 !default;
$success: #78a300 !default;
$info: #3ab3e2 !default; //$cyan !default;
$warning: #eb9100 !default;
$danger: $red !default; //#D30000
$light: $gray-100 !default;
$dark: $gray-800 !default;

$theme-colors: () !default;
$theme-colors: map-merge(
  (
    'primary': $primary,
    'secondary': $secondary,
    'success': $success,
    'info': $info,
    'warning': $warning,
    'danger': $danger,
    'light': $light,
    'dark': $dark
  ),
  $theme-colors
);
// stylelint-enable

$theme-heading-color: map_get($theme_colors, 'dark'); //#58585b;

// Fonts
//
// Font, line-height, and color for body text, headings, and more.

$font-size-base: 1rem; // Assumes the browser default, typically `16px`
//$font-size-lg:                ($font-size-base * 1.25) !default;
//$font-size-sm:                ($font-size-base * .875) !default;

$font-size-button: 14px;

$font-family-base: $font-brand;
$line-height-base: 1.5 !default;

$font-weight-extra-light: 100;
$font-weight-semi-light: 200;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;

//
$h1-font-size: rem(20px);
$h2-font-size: rem(18px);
$h3-font-size: rem(16px);
$h4-font-size: rem(15px);
$h5-font-size: rem(14px);
$h6-font-size: rem(12px);

$headings-font-weight: 100;

$custom-control-indicator-bg: $white;
$custom-control-indicator-focus-box-shadow: 0 none;
