@import '_variables.scss';

html {
  @include rem-baseline;
}

// html,
body {
  min-height: 100vh;
  height: 100%;
  padding: 0 !important;
  margin: 0 !important;
  overflow: auto !important;
  width: 100%;
  *:focus,
  *.focus {
    box-shadow: none;
    outline: 0;
    outline: none;
  }
  font-weight: 400;
  width: 100%;
}

h1 {
  color: #202020;
  font-weight: 600;
  font-family: $font-weight-medium-family;
}

h2 {
  color: #202020;
  font-size: 1.75rem;
  font-weight: 700;
  margin-bottom: 1.25rem;
}

h3 {
  color: #202020;
  font-size: 1.5rem;
  font-weight: normal;
  margin-bottom: 0.875rem;
  font-family: $font-weight-medium-family;
}

h4 {
  color: #202020;
  font-size: 1rem;
  margin-bottom: 0.375rem;
  font-family: $font-weight-medium-family;
}
h5 {
  color: #202020;
  // font-weight: 600;
  font-size: 0.8rem;
  margin-bottom: 0.375rem;
  font-family: $font-weight-medium-family;
}
.template {
  overflow: auto;
}

//main-content

//Forms
label {
  color: #202020;
  font-size: 1.125rem;
  font-weight: 700;
  display: block;
  //margin-bottom: 2px;
  //margin-left: 2px;
}
legend {
  font-size: 1.3rem;
}
input {
  border: 1px solid #ccc;
  border-radius: 0.1875rem;
  background-color: #fff;
}

.errorImage {
  height: 0.9375rem;
  position: absolute;
  right: 1.375rem;
  top: 2.125rem;
}
select option:hover {
  box-shadow: 0 0 0.625rem 6.25rem $secondary inset;
  text-shadow: 0 0.0625rem 0 rgba(0, 0, 0, 0.4);
}
select:focus > option:hover {
  background: $secondary !important;
}

.selectBoxErrorImage {
  height: 0.9375rem;
  position: absolute;
  margin-top: 0.625rem;
}

input[type='radio'] {
  margin-right: 0.375rem;
}

input[type='checkbox'] {
  width: 0.9375rem;
  height: 0.9375rem;
  margin-right: 0.375rem;
}

select {
  color: #666;
  border: 1px solid #ccc;
  border-radius: 0.1875rem;
  height: 1.875rem;
  font-size: 0.875rem;
  background-color: #fff;
  margin-right: 0.375rem;
}
input::placeholder {
  font-size: 12px;
  font-display: $font-family-sans-serif;
}
.ant-btn-primary {
  background-color: $primary;
  color: $white;
}
.ant-input {
  font-size: 14px;
  &::placeholder {
    font-size: 12px;
    font-display: $font-family-sans-serif;
  }
}
.ant-select-selection__placeholder {
  font-size: 12px;
}
.ant-calendar-range-picker-input {
  &::placeholder {
    font-size: 12px;
    font-display: $font-family-sans-serif;
  }
}
a {
  color: $black;
  text-decoration: none;
  background-color: transparent;
  &:hover {
    color: $black;
  }
}
.ant-card-extra {
  padding: 0.5rem 0;
}
.ant-card-body {
  padding: 1.5rem 1rem;
}
